/* Chess Board Color Palette */
:root {
    --bg-1: #eeeed2;
    --bg-2: #769656;
    --hg: #baca44;
    --clr-1: #000000;
    --clr-2: #f9f9f9;
}

html {
    scroll-behavior: smooth;
    cursor: url('/assets/img/respectable-ghoda.png'), auto;
}

/* Body */
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--bg-1);
    font-family: Arial, sans-serif;
}

/* Home */
#home {
    margin: 10px;
    text-align: center;
    justify-content: center;
    color: var(--clr-1);
    background-color: var(--bg-1);
}

/* Header */
header {
    background-color: var(--bg-2);
    border-radius: 5px;
}

#supreme {
    margin-top: -1%;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: .5%;
    text-align: center;
}

#supreme:hover {
    color: var(--clr-2);
}
h1 a, h2 a {
    color: var(--clr-1);
}
a {
    text-decoration: none;
}

a:hover {
    color: var(--hg);
    cursor: url('/assets/img/respectable-ghoda-hover.png'), auto;
}

/* Tibute Info Para and IMG */
#tribute-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#maisamayhoon {
    display: flex;
    height: auto;
    width: 100%;
    border-radius: 10px;
    max-width: 100%;
}


figcaption{
    font-weight: bold;
}

/* https://www.youtube.com/watch?v=McPdzhLRzCg */
.slider-wrapper {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slider img {
    min-width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.slider-img:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    cursor: url('/assets/img/respectable-ghoda-hover.png'), auto;
    border-radius: 0.5rem;
}

.slider-nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.slider-nav a {
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    opacity: 0.7;
}

.slider-nav a:hover {
    opacity: 1;
    cursor: url('/assets/img/respectable-ghoda-hover.png');
}

#samay {
    display: flex;
    font-size: 125%;
    font-style: oblique;
    text-align: justify;
}

/* Alignments of Para and IMG */
#ld {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

#rd {
    flex: 2;
    padding: 15px;
    background-color: var(--clr-2);
    border-radius: 10px;
    margin: 10px;
}
#rd:hover {
    background-color: var(--clr-1);
    color: var(--hg);
    cursor: url('/assets/img/respectable-ghoda-hover.png'), auto;
}
/* Timeline */
#timeline {
    background-color: var(--bg-2);
    border-radius: 5px;
    font-size: larger;
    font-size: 20px;
    margin: auto;
}

#timeline h2 {
    margin-top: 20px;
}

#timeline ul {
    list-style-type: none;
    padding: 0;
}

#timeline ul li {
    padding: 10px 20px;
    border-bottom: 1px solid var(--hg);
}

#timeline ul li strong {
    font-weight: bold;
}


#timeline:hover {
    cursor: url('/assets/img/respectable-ghoda-hg.png'), auto;
/*
    color: var(--bg-2);
    background-color: var(--clr-1);
*/
}


/* Photo Gallery */
#photo-gallery {
  background-color: var(--bg-2);
  color: var(--clr-1);
  font-size: larger;
  border-radius: 5px;
  margin: 10px auto;
  padding: 10px auto;
}

#photos {
/*  background-image: url('/assets/img/chess-bg.png'); */
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  max-width: auto;
  margin: 0 auto;
  padding: 20px 10px;
}

#photos > img {
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
    transform-origin: center center;
}

#photos::after {
    content: "";
    width: 300px;
}

#srpg:hover {
    transform: scale(1.1);
    cursor: url('/assets/img/respectable-ghoda-hg.png'), auto;
}

#ssps:hover {
    transform: scale(1.1);
    cursor: url('/assets/img/SSPS2.png'), auto;;
}


/* video-gallery */

#video-gallery {
    background-color: var(--bg-2);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    cursor: url('/assets/img/respectable-ghoda-hover.png'), auto;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
  
.video-item {
    background-color: var(--bg-1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
}
  
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video-item h4 {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.video-item:hover, .video-item h4:hover {
    background-color: var(--clr-2);
    color: var(--bg-2);
}

#video-gallery:hover, .video-wrapper iframe:hover {
    cursor: url('/assets/img/parental-advisory2.png'), auto;
}
